body {
    background-color: white;
    text-align: center;
}

img {
    background-repeat: no-repeat;
    background-position: center;
}

h1,
#triviaquestionscontainer {
    text-align: center;
    font-family: 'Nixie One', cursive;
    font-weight: bold;
}

#startbutton,
#done {
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    font-size: 25px;
}
audio {
    float: bottom;
}